body{
    margin: 0;
    padding: 0;
}

.box{
    width: 200px;
    height: 200px;
    background: red;
    border: 2px solid black;
    font-size: 20px;
    padding: 10px;
    margin: 50px auto;
    //transform: translate(100px,200px);
    //transform: translateX(200px);
    //transform: translateY(200px);
    //transform: rotate(180deg);
    //transform: scale(1.2);
    //transform: scale(2, 3);
    //transform: skewX(20deg);
}