.body{
    margin: 0;
    padding: 0;
}

.box{
    width: 200px;
    height: 200px;
    background: red;
    transition: width 3s, height 2s, transform 4s;
    //transition-delay: 2s;
    transition-timing-function: linear; //ease linear
}

.box:hover{
    width: 350px;
    height: 400px;
    transform: rotate(180deg);
}

