*{
    box-sizing: border-box;
}

.box1{
    width: 300px;
    height: 300px;
    border: 1px solid red;
}

.box2{
    width: 300px;
    height: 300px;
    border: 1px solid green;
    padding: 100px;
    box-sizing: border-box;
}

.box3{
    width: 300px;
    border: 2px solid red;
    padding: 10px;
    box-sizing: border-box;
}

.box3 input{
    width: 100%;
}

